body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

nav > * {
  font-family: 'Audiowide', cursive;
  border: 1px solid white;
  color: black;
  font-size: 24px;
}

button:hover {
  border: 1px solid lightgray;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
}

.section {
  opacity: 0;
  margin-top: 20px;
  position: absolute;
  width: 60%;
}

#contact {
  display: flex;
  flex-direction: column;
}

#contact > * {
  margin: 10px 0;
  font-size: 20px;
  color: grey;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 5px;
  color: gray;
}

a {
  text-decoration: none;
}

.project {
  color: gray;
  padding: 20px;
}

.project > h3 {
  color: black;
}

#about > p {
  color: gray;
}
