body {
  color: rgb(29, 52, 97);
}

.header {
  position: fixed;
  margin-bottom: 2em;
  background: rgb(246, 246, 255);
  border-bottom: 1px solid rgb(69, 99, 165);
  font-family: 'Fjalla One', sans-serif;
}
.space {
  margin-top: 2em;
}
#title {
  color: rgb(29, 52, 97);
}

.contact-menu > * {
  background: rgb(246, 246, 255);
}
.contact-menu {
  border: 1px solid rgb(69, 99, 165);
}

.footer {
  background: rgb(246, 246, 255);
  border-top: 1px solid rgb(69, 99, 165);
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

h3,
h4 {
  color: #777;
  border-bottom: 1px solid rgb(69, 99, 165);
  margin-top: 3em;
}

table {
  margin-bottom: 1em;
}

.secondary {
  font-size: 60%;
}

.box {
  padding: 1em;
  margin: 1em;
}

.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider {
  height: 40px;
  background-color: rgb(79, 90, 91);
}

.up-arrow {
  position: fixed;
  top: 3em;
  right: 2em;
}

.down-arrow {
  position: fixed;
  bottom: 3em;
  right: 2em;
}

.arrow > button {
  border: 1px transparent;
  background-color: transparent;
}

.arrow > button:hover {
  border: 1px rgb(29, 52, 97) solid;
}

.contact-list {
  list-style: none;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-item > a {
  text-decoration: none;
}

.contact-item > a > i {
  color: rgb(29, 52, 97);
}

@keyframes bounce {
  from,
  to {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.skill-list {
  list-style: none;
  text-align: center;
  margin: 1em 0;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}

.skill-list > i {
  color: rgb(200, 0, 0);
}

/* colors (rgb)
light blue = 69, 99, 165
dark blue =  29, 52, 97
taupe = 74, 66, 56
gray = 77, 83, 89
green = 79, 90, 91

fonts (google)
font-family: 'Fjalla One', sans-serif;
font-family: 'Abel', sans-serif;
*/
